name: 'Build kernel'

on:
  push:
    branches:
      - build
  schedule:
    - cron: '0 12 * * *'

jobs:
  build-docker:
    runs-on: ubuntu-latest
    name: Build docker
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: check build and upload
        run: bash build.sh
        env:
          api_key: ${{ secrets.API_KEY }}
          TELEBOT: ${{ secrets.TELEBOT }}
